<body>
<p>Hi there,</p></br></br>

<p><%= @commenter %> left on new comment on <%= link_to 'this issue', issue_url(@issue) %>:</p></br></br>

<p>"<%= @content %>"</p></br></br>

<p><%= link_to 'Click to Reply!', issue_url(@issue) %></p></br></br>

<p>Thanks,</p></br></br>

<p>Dylan</p>
</body>
