<body>

<p><%= @commenter %> left a new comment on <%= link_to 'this issue', issue_url(@issue) %>:</p></br></br>

<p>"<%= @content %>"</p></br></br>

<p><%= link_to 'Click to Reply!', issue_url(@issue) %></p></br>

<p>Thanks,</p></br>

<p>Quality Assurance</p>

</body>
