<table>
  <% @comments.each do |comment| %>
<tr>
      <td class="comments">
	<p class="all-four-rounded-corners">
	<%= link_to gravatar_for(comment.user, size: 60), comment.user %></br>
	</p>
	<h6><%= comment.created_at.strftime("%D    ") %></h6>
</br>
      </td>

      <td class="comments">
	<div class="span5">
	<%=  comment.content %>
	</div>
</br>

      </td>


</tr>

  <% end %>
</br>

</table>

</br>
