<h1>Departments</h1>
<%= link_to 'Add New Department', new_department_path, :class => 'btn' %>
</br>
</br>

<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="departments" data-source="<%= departments_url(format: "json") %>" >

  <thead>
    <tr>
      <th>Name</th>
      <th>Created at</th>

    </tr>
  </thead>
  <tbody>
  </tbody>
</table>


